* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: black;
    color: aliceblue;
}

a {
    text-decoration: none;
    color:crimson ;
    transition: 0.5;
    
}

a:hover {
    color: #c30e0e;

}